/* reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; /* body height = 100% screen size */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  width: 60%; /* width = 60% of parent width */
  max-width: 500px; /* but 500px max */
}

#image-wrapper {
  width: 300px;
}

#image {
  width: 100%;
}

#header {
  padding: 20px;
  display: flex;
  font-size: 30px;
}

#number {
  margin-right: 15px;
}

#name {
  text-transform: capitalize; /* capitalize first letter of the name */
}

#button {
  background-color: #ff7a22;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  cursor:pointer;
  transition: all 0.2s ease; /* transition because of transform */
}

#button:hover {
  transform: translateY(-2px); /* button up when hovered */
  background-color: #ff8839;
}

#button:active {
  transform: translateY(2px); /* button up when actived */
  background-color: #ff7a22;
}